{% extends 'base.jinja' %}
{% from '_helpers.jinja' import option %}

{% block title %}Business Administration{% endblock %}

{% block head %} {{ super() }}
<link rel="stylesheet" type="text/css" href="/static/style/form.css">
{% endblock head %}

{% block body %}
<section>
	<header>Create a new business</header>
	<form method="POST">
		<label for="name">Business name</label>
		<input type="text" name="name"><br>
		<label for="lat">Latitude</label>
		<input type="text" name="lat"><br>
		<label for="lon">Longitude</label>
		<input type="text" name="lon"><br>
		<label for="adm">Admin</label>
		<select name="adm">
			{{ option('', '') }}
			{% for u in user_iter %}
			{{ option(u.key.urlsafe(), u.email) }}
			{% endfor %}
		</select><br>
		<input type="submit" value="Create">
	</form>
</section>
{% endblock body %}