{# Top level template #}
<!doctype html>
<html>
    <head>

    {% block head %}
        <title>{% block title %}{% endblock title %}</title>
        <meta charset="UTF-8">
        <script src="/static/lib/jquery-1.10.2.min.js"></script>
        <script src="/static/lib/wolfings/wolfings.js"></script>
        <script src="/static/js/base.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/style/reset.css">
        <link rel="stylesheet" type="text/css" href="/static/style/base.css">
    {% endblock head %}

    </head>
    <body>

        {% block header %}
        <div id="topbar">
            <header class="unselectable"><a href="/coupon/">WOLFINGS</a></header>
            <div class="right">
                {% if user %}
                    <div class="dropdown">
                        <a>My Restaurants</a>
                        <div class="submenu">
                            <a>butt one</a>
                            <a>butt two</a>
                        </div>
                    </div>
                    <a href="/user/{{ user.key.id() }}/">My Coupons</a>
                    <a href="/logout/">Log out</a>
                <script>
                    WOLFINGS.set('user_id', '{{ user.key.id() }}');
                </script>
                {% else %}
                <a href="/login/">Log in</a>
                {% endif %}
            </div>
        </div>
        {% endblock header %}

        <div id="viewport">

            {% block body %}
            {% endblock body %}

            <div class="clear"></div>
        </div>
    </body>
</html>
