{% extends "base.html" %}


{% block title %}{{name}}{% endblock title %}


{% block head %}{{ super() }}
        <link rel="stylesheet" type="text/css" href="/static/style/business.css">
{% endblock head %}


{% block body %}
        <section>
            <header>
    {% if mark_url %}
                <img class="mark" alt="{{name}}" src="{{mark_url}}">
    {% endif %}
                {{name}}
            </header>
        </section>
    {% if coupons %}
        <section id="coupons">
            <header>Offers</header>
        {% for c in coupons %}
        {% include "coupon_snip.html" %}
        {% endfor %}
        </section>
    {% endif %}
{% endblock body %}
