{% extends "base.html" %}

{% macro input_datetime(name, label=None) %}
    {% if label %}
        <label for="{{ name }}_date">{{ label }}</label>
    {% endif %}

    <input name="{{ name }}_date" id="{{ name }}_date"></input>
    <script>
        $( document.getElementById('{{ name }}_date') ).datepicker();
    </script>

    <select name="{{ name }}_hour">
        {% for i in range(24) %}
            <option value="{{ i }}">{{ '{:02}'.format(i) }}</option>
        {% endfor %}
    </select>
    :
    <select name="{{ name }}_min">
        {% for i in range(60) %}
            <option value="{{ i }}">{{ '{:02}'.format(i) }}</option>
        {% endfor %}
    </select>
{% endmacro %}


{% block title %}{{name}}{% endblock title %}


{% block head %}

    {{ super() }}
    <link href="/static/lib/jquery-ui/css/dot-luv/jquery-ui-1.10.3.custom.css" rel="stylesheet" type="text/css">
    <link href="/static/style/business.css" rel="stylesheet" type="text/css">
    <link href="/static/style/business_admin.css" rel="stylesheet" type="text/css">
    <script src="/static/lib/jquery-ui/js/jquery-ui-1.10.3.custom.js"></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/business_admin.js"></script>

{% endblock head %}


{% block body %}

    <section>
        <header>Admin Panel</header>
        <article>
            <header>Update Details</header>
            <form name="update" action="javascript:put_business()">
                <label for="name">Name: </label>
                <input type="text" name="name" value="{{name}}">
                <input type="submit" value="submit">
            </form>
        </article>
        <article>
            <header>Upload Mark</header>
            <form action="{{mark_upload}}" method="POST" enctype="multipart/form-data">
                <input type="file" name="mark">
                <input type="submit" value="submit">
            </form>
        </article>
        <article>
            <header>New Coupon</header>
            <form name="newcoup" action="javascript:post_coupon()">
                <label for="name">Name: </label>
                <input type="text" name="name" value=""> <br>
                {{ input_datetime('start', 'Start time:') }} <br>
                {{ input_datetime('end', 'End time:') }}
                <input type="submit" value="submit">
            </form>
        </article>
    </section>

{% endblock body %}
