{# /business/[id]/manage/
Parameters:
    - b: The business entity referred to by the page ID
    - coupons: All coupon entities owned by the business
Globals:
    - user: The logged-in user's entity
    - is_admin(business): Verifies user has rights to modify the entity
#}
{% extends "base.jinja" %}
{% from "coupon_snip.jinja" import coupon_snip %}


{% macro input_datetime(name, label=None) %}
{# Parameters:
    - name: A unique string to identify the input field
    - label: An optional string to be used as a label for the input field
#}
{% if label %}
<label for="{{ name }}_date">{{ label }}</label>
{% endif %}
<input name="{{ name }}_date" id="{{ name }}_date" placeholder="Date"></input>
<select name="{{ name }}_hour">
    {% for i in range(24) %}
    <option value="{{ i }}">{{ '{:02}'.format(i) }}</option>
    {% endfor %}
</select> : <select name="{{ name }}_min">
    {% for i in range(60) %}
    <option value="{{ i }}">{{ '{:02}'.format(i) }}</option>
    {% endfor %}
</select>
<script>
    jQuery( document.getElementById('{{ name }}_date') ).datepicker();
</script>
{% endmacro %}


{% block title %}{{ name }}{% endblock title %}

{% block head %}
{{ super() }}
<link href="/static/lib/jquery-ui/css/dot-luv/jquery-ui-1.10.3.custom.css" rel="stylesheet" type="text/css">
<link href="/static/style/business_admin.css" rel="stylesheet" type="text/css">
<script src="/static/lib/jquery-ui/js/jquery-ui-1.10.3.custom.js"></script>
<script src="/static/js/utils.js"></script>
<script src="/static/js/business_admin.js"></script>
{% endblock head %}

{% block body %}
{% if is_admin(b) %}
<a class="adminlink" href="../admin">Admin Panel</a>
{% endif %}
<section>
    <header>
        {% if b.mark_url %}
        <img class="mark" alt="{{ b.name }}" src="{{ b.mark_url }}">
        {% endif %}
        {{ b.name }} Coupon Management
    </header>
</section>
<section>
    <header>New Coupon</header>
    <form name="newcoup" action="javascript:post_coupon()">
        {{ input_datetime('start', 'Start') }} <br>
        {{ input_datetime('end', 'End') }}<br>
        <label for="name">Name</label>
        <input type="text" name="name" value=""> <br>
        <input type="submit" class="blue" value="submit">
    </form>
</section>
{% if coupons %}
<section id="coupons">
    {% for c in coupons %}
    <article id="{{ c.key.id() }}">
        <header>{{ c.name }}</header>
        <ul>
            {% for u in c.get_holders() %}
            <li><form method="POST" action="/api/user/{{ u.key.id() }}/coupons/{{ c.key.id() }}">
                <input type="submit" value="{{ u.name }}">
                <input type="hidden" name="verify" value="true">
            </form></li>
            {% endfor %}
        </ul>
    </article>
    {% endfor %}
</section>

{% endif %}
{% endblock body %}
