{% extends "base.html" %}


{% block title %}{{name}}{% endblock title %}


{% block head %}{{ super() }}
        <link rel="stylesheet" type="text/css" href="/static/style/business.css">
{% endblock head %}


{% block body %}
        <section>
            <header>
    {% if mark_url %}
                <img class="mark" alt="{{name}}" src="{{mark_url}}">
    {% endif %}
                {{name}}
            </header>
        </section>
    {% if coupons %}
        <section id="coupons">
            <header>Offers</header>
        {% for c in coupons %}
            <article class="coupon" id="c{{c.id}}">
                <header>{{c.name}}</header>
                <p>Available in {{c.start.days}} days, {{c.start.hours}} hours, {{c.start.minutes}} minutes, and {{c.start.seconds}} seconds</p>
                <p>for {{c.end.days}} days, {{c.end.hours}} hours, {{c.end.minutes}} minutes, and {{c.end.seconds}} seconds</p>
                <div class="right">
                    <button>CLAIM</button>
                </div>
            </article>
        {% endfor %}
        </section>
    {% endif %}
{% endblock body %}
