{% extends "base.html" %}


{% block title %}{{name}}{% endblock title %}


{% block head %}

    {{ super() }}
    <link href="/static/lib/jquery-ui/css/dot-luv/jquery-ui-1.10.3.custom.css" rel="stylesheet" type="text/css">
    <link href="/static/style/business.css" rel="stylesheet" type="text/css">
    <link href="/static/style/business_admin.css" rel="stylesheet" type="text/css">
    <script src="/static/lib/jquery-ui/js/jquery-ui-1.10.3.custom.js"></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/business_admin.js"></script>

{% endblock head %}


{% block body %}

    <section>
        <header>Admin Panel</header>
        <article>
            <header>Update Details</header>
            <form name="update" action="javascript:put_business()">
                <label for="name">Name: </label>
                <input type="text" name="name" value="{{name}}">
                <input type="submit" value="submit">
            </form>
        </article>
        <article>
            <header>Upload Mark</header>
            <form action="{{mark_upload}}" method="POST" enctype="multipart/form-data">
                <input type="file" name="mark">
                <input type="submit" value="submit">
            </form>
        </article>
        <article>
            <header>New Coupon</header>
            <form name="newcoup" action="javascript:post_coupon()">
                <label for="name">Name: </label>
                <input type="text" name="name" value="">

                <br>

                <label for="sdate">Start time: </label>
                <input name="sdate" id="sdate"></input>
                <select name="shour">
                    {% include "hour_options.html" %}
                </select>
                :
                <select name="smin">
                    {% include "minute_options.html" %}
                </select>

                <br>

                <label for="edate">End time: </label>
                <input name="edate" id="edate"></input>
                <select name="ehour">
                    {% include "hour_options.html" %}
                </select>
                :
                <select name="emin">
                    {% include "minute_options.html" %}
                </select>

                <input type="submit" value="submit">
            </form>
            <script>
                $( document.getElementById('sdate') ).datepicker();
                $( document.getElementById('edate') ).datepicker();
            </script>
        </article>
    </section>

{% endblock body %}
