{% extends "base.html" %}


{% block title %}{{name}}{% endblock title %}


{% block head %}{{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/style/business.css">
    <script src="/static/business_admin.js"></script>
{% endblock head %}


{% block body %}

    <section>
        <header>Admin Panel</header>
        <article>
            <header>Update Details</header>
            <form name="update" action="javascript:put_business()">
                <label for="name">Name: </label>
                <input type="text" name="name" value="{{name}}">
                <input type="submit" value="submit">
            </form>
        </article>
        <article>
            <header>Upload Mark</header>
            <form action="{{mark_upload}}" method="POST" enctype="multipart/form-data">
                <input type="file" name="mark">
                <input type="submit" value="submit">
            </form>
        </article>
        <article>
            <header>New Coupon</header>
            <form name="newcoup" action="javascript:post_coupon()">
                <label for="name">Name: </label>
                <input type="text" name="name" value="">
                <br>
                <label>Date: </label>
                <input type="submit" value="submit">
            </form>
        </article>
    </section>

{% endblock body %}
