<!doctype html>
<html>
    <head>

        <title>{{name}}</title>
        <meta charset="UTF-8">
        <script src="/static/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/style/reset.css">
        <link rel="stylesheet" type="text/css" href="/static/style/business_list.css">

    </head>
    <body>
        <div id="viewport">
            <section id="businesses">
                <header>Businesses</header>
{% for b in businesses %}
                <p id="b{{b.key.id()}}">
                    <a href="/business/{{b.key.id()}}/">{{b.name}}</a>
                </p>
{% endfor %}
            </section>
        </div>
    </body>
</html>
