{# /business/[id]/
Parameters:
    - b: The business entity referred to by the page ID
    - coupons: All coupon entities owned by the business
Globals:
    - user: The logged-in user's entity
    - is_admin(business): Verifies user has rights to modify the entity
#}
{% extends 'base.jinja' %}
{% from 'coupon_snip.jinja' import coupon_snip %}
{% from '_helpers.jinja' import render_address %}


{% block title %}{{ b.name }}{% endblock title %}


{% block head %}{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/style/coupon_snip.css">
<link rel="stylesheet" type="text/css" href="/static/style/business.css">
{% endblock head %}


{% block body %}

{% if is_admin(b) %}
<div class="right">
    <a href="manage">Manage Coupons</a><br>
    <a href="admin">Admin Panel</a>
</div>
{% endif %}

{% if b.mark_url %}
<img class="mark" src="{{ b.mark_url }}">
{% endif %}

<section class="desc">
    <header>
        {{ b.name }}
    </header>
    <div>
        {{ render_address(b.address) }}
    </div>
    {% if b.description %}
    <div>
        {{ b.description }}
    </div>
    {% endif %}
</section>

{#
{% if coupons %}
<section id="coupons">
    {% for c in coupons %}
    {{ coupon_snip(c, show_img=True) }}
    {% endfor %}
</section>
{% endif %}
#}

{% endblock body %}
