{# /business/[id]/
Parameters:
    - b: The business entity referred to by the page ID
    - coupons: All coupon entities owned by the business
Globals:
    - user: The logged-in user's entity
    - is_admin(business): Verifies user has rights to modify the entity
#}
{% extends "base.jinja" %}
{% from "coupon_snip.jinja" import coupon_snip %}


{% block title %}{{ name }}{% endblock title %}

{% block body %}
{% if is_admin(b) %}
<a class="adminlink" href="admin">Admin Panel</a>
{% endif %}
<section>
    <header>
        {% if b.mark_url %}
        <img class="mark" alt="{{ b.name }}" src="{{ b.mark_url }}">
        {% endif %}
        {{ b.name }} Coupon Verification
    </header>
</section>
{% if coupons %}
<section id="coupons">
    {% for c in coupons %}
    <article id="{{ c.key.id() }}">
        <header>{{ c.name }}</header>
        <ul>
            {% for u in c.get_holders() %}
            <li><form method="POST" action="/api/user/{{ u.key.id() }}/coupons/{{ c.key.id() }}">
                <input type="submit" value="{{ u.name }}">
                <input type="hidden" name="verify" value="true">
            </form></li>
            {% endfor %}
        </ul>
    </article>
    {% endfor %}
</section>
{% endif %}
{% endblock body %}
