<!doctype html>
<html>
    <head>

        <title>{{name}}</title>
        <meta charset="UTF-8">
        <script src="/static/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/style/reset.css">
        <link rel="stylesheet" type="text/css" href="/static/style/business.css">

    </head>
    <body>
        <div id="viewport">

            <section>
                <header>
{% if mark_url %}
                    <img class="mark" alt="{{name}}" src="{{mark_url}}">
{% endif %}
                    {{name}} Offers
                </header>
                <article id="one">
                    <header>Offer one</header>
                </article>
                <article id="two">
                    <header>Offer two</header>
                </article>
            </section>

        </div>
    </body>
</html>
