{% extends "base.html" %}


{% block title %}{{c.name}} | {{b.name}}{% endblock title %}


{% block head %}{{ super() }}
        <link rel="stylesheet" type="text/css" href="/static/style/coupon.css">
{% endblock head %}


{% block body %}
        <section>
            <header>
    {% if mark_url %}
                <img class="mark" alt="{{b.name}}" src="{{mark_url}}">
    {% endif %}
                {{c.name}}
            </header>
        </section>
        <section id="coupon">
            <article class="coupon" id="c{{c.id}}">
                <p>Available in {{c.to_start.days}} days, {{c.to_start.hours}} hours, {{c.to_start.minutes}} minutes, and {{c.to_start.seconds}} seconds</p>
                <p>for {{c.to_end.days}} days, {{c.to_end.hours}} hours, {{c.to_end.minutes}} minutes, and {{c.to_end.seconds}} seconds</p>
                <div class="right">
                    <button>CLAIM</button>
                </div>
            </article>
        </section>
{% endblock body %}
