{% macro timediff(t1, t2) %}
{% set t = t1 - t2 %}
{% set days = t.days %}
{% set hours = t.seconds//3600 %}
{% set minutes = (t.seconds - 3600*hours)//60 %}
{% set seconds = t.seconds - 60*minutes - 3600*hours %}

{% if days %}
{{ days }} days
{% endif %}

{% if hours %}
{{ hours }} hours
{% endif %}

{% if minutes %}
{{ minutes }} minutes
{% endif %}

{% if seconds %}
{{ seconds }} seconds
{% endif %}
{% endmacro %}

{% macro coupon_snip(c, now, user=None, editable=False, show_holders=False, admin=False) %}
{% set business = c.business.get() %}

{% if c.start < now and now < c.end %}
{% set class='active' %}
{% elif now < c.start %}
{% set class='inactive' %}
{% else %}
{% set class='expired' %}
{% endif %}

<article class="{{class}} coupon" id="c{{c.key.id()}}">

    <header>
        <a href="/coupon/{{c.key.id()}}/">
            {% if business.name %}
            {{ business.name }} -
            {% endif %}
            {{ c.name }}
        </a>
    </header>
    <div class="time">{{ c.start.strftime('%c') }} - {{ c.end.strftime('%c') }}</div>

    <div class="right">
        {% if admin %}
        <button class="edit" id="button_c{{ c.key.id() }}">EDIT</button>
        <script>
            WOLFINGS.import('coupon_admin', function() {
                var button = document.getElementById('button_c{{ c.key.id() }}');
                WOLFINGS.handlers.click_edit_coupon( button );
            });
        </script>
        {% elif editable %}
        <button class="trash" id="button_c{{ c.key.id() }}">TRASH</button>
        <script>
            WOLFINGS.import('coupon_snip', function() {
                var button = document.getElementById('button_c{{ c.key.id() }}');
                WOLFINGS.handlers.click_trash_coupon( button );
            });
        </script>
        {% elif user %}
        {% if c.key in user.held_coupons %}
        <button class="inactive">CLAIMED</button>
        {% elif now < c.end %}
        <button class="claim" id="button_c{{ c.key.id() }}">CLAIM</button>
        <script>
            WOLFINGS.import('coupon_snip', function() {
                var button = document.getElementById('button_c{{ c.key.id() }}');
                WOLFINGS.handlers.click_claim_coupon( button );
            });
        </script>
        {% endif %}
        {% endif %}
    </div>
    {% if c.start < now and now < c.end %}
    <div class="time">Available for {{ timediff(c.end, now) }}</div>
    {% elif now < c.start %}
    <div class="time">Available in {{ timediff(c.start, now) }} for {{ timediff(c.end, c.start) }}</div>
    {% else %}
    <div class="time">Offer has expired</div>
    {% endif %}

    {% if show_holders %}
    <ul class="holders">
        <header>Holders</header>
        {% set users = c.get_holders() %}
        {% if not users %}
        <li>None</li>
        {% endif %}
        {% for u in c.get_holders() %}
        <li>{{ u.name }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    </article>
{% endmacro %}
