{# /coupon/
Parameters:
    - coupons: Iterable of all coupons
Globals:
    - user: The logged-in user's entity
    - is_admin(business): Verifies user has rights to modify the entity
#}
{% extends "base.jinja" %}
{% from "coupon_snip.jinja" import coupon_snip %}

{% block title %}Coupons{% endblock title %}
{% block head %}{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/style/coupon_snip.css">
<script src="/static/js/coupon_snip.js"></script>
{% endblock head %}

{% block body %}
<section id="coupons">
    {% for c in coupons %}
    {% if c %}
    {{ coupon_snip(c, show_img=True) }}
    {% endif %}
    {% endfor %}
</section>
{% endblock body %}
