<article class="coupon" id="c{{c.id}}">
    <header>
        <a href="/coupon/{{c.id}}/">
            {% if c.business_name %}
                {{c.business_name}} -
            {% endif %}
            {{c.name}}
        </a>
    </header>
    <p>Available in {{c.to_start.days}} days, {{c.to_start.hours}} hours, {{c.to_start.minutes}} minutes, and {{c.to_start.seconds}} seconds</p>
    <p>for {{c.to_end.days}} days, {{c.to_end.hours}} hours, {{c.to_end.minutes}} minutes, and {{c.to_end.seconds}} seconds</p>
    <div class="right">
        <button>CLAIM</button>
    </div>
    <script src="/static/js/coupon_snip.js"></script>
</article>
