{% macro coupon_snip(c, show_img=False, held=False) %}
{% set b = c.business.get() %}
{% if c.start < now and now < c.end %}
{% set class='active' %}
{% elif now < c.start %}
{% set class='inactive' %}
{% else %}
{% set class='expired' %}
{% endif %}

<article class="{{ class }} coupon" id="c{{ c.key.id() }}">

    <div class="right">
        <div class="time">
            <span class="datetime start">{{ c.start|datetime }}</span><br>
             - <span class="datetime end">{{ c.end|datetime }}</span>
        </div>

        {% if is_admin(b) %}
        <button class="edit" id="button_c{{ c.key.id() }}">EDIT</button>
        <script>
            WOLFINGS.import('handlers.coupon', function() {
                var button = document.getElementById('button_c{{ c.key.id() }}');
                WOLFINGS.handlers.coupon.click_edit_coupon( button );
            });
        </script>
        {% elif held %}
        <button class="trash" id="button_c{{ c.key.id() }}">TRASH</button>
        <script>
            WOLFINGS.import('handlers.coupon', function() {
                var button = document.getElementById('button_c{{ c.key.id() }}');
                WOLFINGS.handlers.coupon.click_trash_coupon( button );
            });
        </script>
        {% elif user %}
        {% if c.key in user.held_coupons %}
        <button class="inactive">CLAIMED</button>
        {% elif now < c.end %}
        <button class="claim" id="button_c{{ c.key.id() }}">CLAIM</button>
        <script>
            WOLFINGS.import('handlers.coupon', function() {
                var button = document.getElementById('button_c{{ c.key.id() }}');
                WOLFINGS.handlers.coupon.click_claim_coupon( button );
            });
        </script>
        {% endif %}
        {% endif %}
    </div>

    {% if show_img %}
    <div class="mark">
        <img src="{{ b.icon_url }}">
    </div>
    {% endif %}
    <header>
        <a href="/business/{{ b.key.id() }}/">{{ b.name }}</a> - {{ c.name }}
    </header>

    {% if c.description %}
    <div class="description">
        {{ c.description }}
    </div>
    {% endif %}

    {% if is_admin(b) %}
    <ul class="holders">
        <header>Holders</header>
        {% set holders = c.get_holders() %}
        {% if not holders %}
        <li>None</li>
        {% else %}
        {% for u in holders %}
        <li>{{ u.familiar_name }} {{ u.surname }}</li>
        {% endfor %}
        {% endif %}
    </ul>
    {% endif %}

    <div class="timeleft">
        {% if c.start < now and now < c.end %}
        Expires in <span class="tval">{{ (c.end - now)|timedelta }}</span>
        {% elif now < c.start %}
        Available in <span class="tval">{{ (c.start - now)|timedelta }}</span> for {{ (c.end - c.start)|timedelta_verbose }}
        {% else %}
        Offer has expired
        {% endif %}
    </div>

    </article>
{% endmacro %}
