{% extends "base.jinja" %}
{% from "coupon_snip.jinja" import coupon_snip %}


{% block title %}{{ c.name }} | {{ b.name }}{% endblock title %}
{% block head %}{{ super() }}
        <link rel="stylesheet" type="text/css" href="/static/style/coupon.css">
        <link rel="stylesheet" type="text/css" href="/static/style/coupon_snip.css">
{% endblock head %}


{% block body %}
        <section>
            <header>
    {% if mark_url %}
                <img class="mark" alt="{{ b.name }}" src="{{ mark_url }}">
    {% endif %}
                {{ b.name }} - {{ c.name }}
            </header>
        </section>
        <section id="coupon">
            {{ coupon_snip(c, now, user) }}
            <script src="/static/js/coupon_snip.js"></script>
        </section>
{% endblock body %}
