{% extends "base.jinja" %}
{% from "coupon_snip.jinja" import coupon_snip %}


{% block title %}{{name}}{% endblock title %}


{% block head %}{{ super() }}
        <link rel="stylesheet" type="text/css" href="/static/style/user.css">
        <link rel="stylesheet" type="text/css" href="/static/style/coupon_snip.css">
{% endblock head %}


{% block body %}

    <section>
        <header>
            {{name}}
        </header>
    </section>

    {% if coupons %}
    <section id="coupons">
        {% for c in coupons %}
            {{ coupon_snip(c, now, user=user, img=True, editable=True) }}
        {% endfor %}
    </section>
    {% endif %}

    <script src="/static/js/coupon_snip.js"></script>

{% endblock body %}
