{# /user/[id]/edit/
Parameters:
    - u: User entity corresponding to the page ID
    - coupons: Coupon entities currently held by the user
Globals:
    - user: The logged-in user's entity
    - is_admin(business): Verifies user has rights to modify the entity
#}
{% extends "base.jinja" %}
{% from "coupon_snip.jinja" import coupon_snip %}

{% block title %}{{ u.familiar_name or u.surname }}{% endblock title %}
{% block head %}{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/style/form.css">
{% endblock head %}

{% block body %}
<header>User Preferences</header>
<section>
	<form method="POST">
		<label for="familiar_name">First name:</label>
		<input type="text" name="familiar_name" value="{{ u.familiar_name }}"><br>
		<label for="surname">Last name:</label>
		<input type="text" name="surname" value="{{ u.surname }}"><br>
		<input type="submit" value="Update">
	</form>
</section>
{% endblock body %}
