{% extends "base.html" %}


{% block title %}{{name}}{% endblock title %}


{% block head %}

    {{ super() }}
    <link href="/static/style/user.css" rel="stylesheet" type="text/css">
    <link href="/static/style/user_admin.css" rel="stylesheet" type="text/css">
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/user_admin.js"></script>

{% endblock head %}


{% block body %}

    <section>
        <header>Admin Panel</header>
        <article>
            <header>Update Details</header>
            <form name="update" action="javascript:put_user()">
                <label for="name">Name: </label>
                <input type="text" name="name" value="{{name}}">
                <input type="submit" value="submit">
            </form>
        </article>
    </section>

{% endblock body %}
