{# /user/
Parameters:
    - users: Iterable of user entities
Globals:
    - user: The logged-in user's entity
    - is_admin(business): Verifies user has rights to modify the entity
#}
{% extends "base.jinja" %}


{% block title %}{{name}}{% endblock title %}


{% block head %}{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/style/business.css">
{% endblock head %}


{% block body %}
<section id="users">
    <header>Users</header>
    {% for u in users %}
    <p id="u{{u.id}}">
    <a href="/user/{{u.id}}/">{{u.name}}</a>
    </p>
    {% endfor %}
</section>
{% endblock body %}
