@import "utils";

/* Red button */
@mixin red-button
{
    display: block;
    @include block-align-center;
    padding: 0.25em 1em;
    
    background: $red;

    text-align: center;
    color: white;

    border:none;

    &:focus
    {
        outline: none;
    }

    &:hover
    {
        background: $light-red;
    }

    &:active
    {
        background: $dark-red;
    }
}
