@import "utils";
@import "buttons";
@import "business";
@import "datepicker";

h1
{
    font-size: 1.3em;
    text-align: center;
    border-bottom: solid 1px;
    margin-bottom: 0.5em;
    padding-bottom: 0.25em;
}

input[type=submit]
{
    @include red-button;
    padding: 1em 2em;
    font-size: 0.9em;
}

#removal-panel
{
    text-align: center;
    form
    {
        display: inline-block;
        input
        {
            display: inline-block;

        }
    }
}

.input-text-container
{
    margin: 0;
    border: solid 1px;
    padding: 5px;
    box-shadow: 1px 1px 5px -2px gray inset;
    background: white;

    & + .input-text-container
    {
        border-top: 0px;
    }   

    textarea,
    input
    {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
        border-width: 0;
        background: none;

        &:focus
        {
            outline: none;
        }
    }

    input[name=name]
    {
        font-size: 1.25em;
    }

    textarea
    {
        height: 8em;
    }
}

.coupon-time-select
{
    text-align: center;
    margin-top: 1em;

    .date-time-picker
    {
        display: inline-block;

        .date-picker
        {
            input
            {
                display: none;
            }
        }

        &>input
        {
            display: none;
        }
    }
}

.coupon-details
{
    margin: 0.75em 0;
}

.goog-time-picker
{
    input
    {
        text-align: center;
    }

    .input-text-container
    {
        border-top: 0;
        clear: both;
    }
}
