@import "utils";
@import "buttons";
@import "business";
@import "datepicker";

button#trash,
input[type=submit]
{
    @include red-button;
}

.input-text-container
{
    margin: 0;
    border: solid 1px;
    padding: 1px; 

    & + .input-text-container
    {
        border-top: 0px;
    }   

    textarea,
    input[name=name]
    {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
        border-width: 0;
    }

    input[name=name]
    {
        font-size: 1.75em;
    }

    textarea
    {
        height: 8em;
    }
}

.coupon-time-select
{
    text-align: center;
    margin-top: 1em;

    .date-time-picker
    {
        display: inline-block;

        .date-picker
        {
            input
            {
                display: none;
            }
        }

        &>input
        {
            display: none;
        }
    }
}
