#title {
    font-size: 3em;
    font-weight: bold;
}
#subtitle {
    font-size: 1.5em;
    font-weight: bold;
}
body {
    color: white;
}

#box {
    display:inline-block;
    border-radius: 5px;
    background: rgba(0,0,0,0.6);
    padding: 2em;
    box-shadow: 5px 5px 25px #555;
}
#imgContainer {
    display: block;
    text-align: center;
    vertical-align: middle;
    margin-top: 1em;
}
#imgContainer > img {
    height: 25em;
}

#viewportContainer{
    position: static;
    margin: 0;
}
#viewport {
    text-align: center;
    position: absolute;
    padding: 0;
    top: 50%;
    width: 100%;
}
#viewport.text {
    margin-top: -22em;
}

#desc {
    display: inline-block;

    padding: 1em;
    margin: auto;
    max-width: 300px;

    font-size: 1.2em;

    vertical-align: middle;
}
#link {
    background-color: #900;
    margin: auto;
    margin-top: 1em;
    padding: 0.5em;
    border: solid;
    border-width: 0px;
    border-radius: 3px;
}
#link:hover {
    background-color: #a00;
}
a {
    color: white;
    text-decoration: none;
}
