@import "buttons";

input[type=submit],
button:focus
{
    @include red-button;
    font-size: 0.8em;
}

label
{
    display: inline-block;
    width: 8.5em;
    margin-left:1em;

    &:after
    {
        vertical-align: middle;
        float: right;

        &.required
        {
            content: "*";
            color:#ff0000;
            font-size:1.2em;
        }

        &.valid
        {
            content: "✅";
        }

        &.invalid
        {
            content: "×";
            color:#ff0000;
            font-size:1.2em;
        }
    }
}

.legend {
    font-size: 0.75em;
}