body {
    font-family: sans-serif;

    background-color:white;
    background-image: linear-gradient(90deg, rgba(212,53,53,.5) 50%, transparent 50%),
    linear-gradient(rgba(212,53,53,.5) 50%, transparent 50%);
    background-size:250px 250px;
}


/* Whitespace around viewport */
#viewportContainer {
    position: relative;
    z-index:0;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    background: rgba(255,255,255,0.9);
    box-shadow: 0px 0px 10px #666;
}
#viewport {
    padding: 0.75em;
}
/* Clear the bottom of the viewport */
.clear {
    clear:both;
}

/* Header bar */
#topbarContainer{
    position: relative;
    z-index:2;
    background-color: #a00;
    box-shadow: 0px 0px 10px #000;
}
#topbar {
    width: 100%;
    height:2.25em;
    margin-right: auto;
    margin-left: auto;

    max-width: 1000px;

    font-size:1.25em;
    font-weight: bold;

    color: #ffffff;
}

#topbar > header {
    padding: 0.09375em 0;
}
#topbar img {
    height:2em;
}
#topbar a {
    text-decoration: none;
    color: #ffffff;
}
/* Duplicate padding on both anchor and container
   2*padding = 2.25em - fontsize - borderwidth */
#topbar > .right a {
    font-size: 0.75em;
    padding: 0.75em 0.45em;
    line-height: 3;
}
#topbar > .right a:hover {
    border-top: solid;
    border-width: 0.2em;
    border-color: #ffffff;
}


/* Right-align */
.right {
    float: right;
    text-align: right;
}

/* Headers */
#viewport > header {
    font-size: 1.4em;
    text-align: center;
}
section > header {
    font-size: 1.3em;
}
article > header {
    font-size: 1.1em;
}


/* Section and article spacing */
article {
    position: relative;
}

article + article {
    margin-top: 0.75em;
}

section + section {
    margin-top: 1em;
}


/* Un-highlightable text */
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Admin links */
.adminlink {
    float:right;
    line-height: 1.3em;
    text-align:right;
}


/* Dropdown menu */
.dropdown {
    display: inline-block;
    text-align: right;
}
.submenu {
    width: auto;
    display: none;
    position: absolute;
    z-index:1;
    box-shadow: 0px 0px 10px #666;
}
.dropdown:hover > .submenu {
    display: block;
    background-color: #a00;
}
#topbar .dropdown {
}
#topbar .submenu a {
    display:block;
    padding-top: 0; padding-bottom: 0;
    line-height: 2;
    border-right: solid;
    border-color: #a00;
}
#topbar .submenu a:hover {
    border-width: 0.2em;
    border-top: none;
    border-color: #ffffff;
}