body {
    min-width: 40em;

    font-family: sans-serif;

    background: #e0e0e0
}


/* Whitespace around viewport */
#viewport {
    padding: 0.75em;
    margin-right: auto; margin-left: auto;

    max-width: 900px;

    background: white;
}


/* Header bar */
#topbar {
    position: relative;

    width: 100%;

    font-size: 0.9em;

    background: #180878;
    color: #ffffff;
}

#topbar header {
    padding: 0.5em 1em;
    margin-right: -1em;

    line-height: 1.25em;

    letter-spacing: 1em;
    font-size: 1.25em;
    font-weight: bold;

    display: inline-block;
}

#topbar a,
#topbar a:hover,
#topbar a:active,
#topbar a:visited {
    padding: 0.388em 1em;
    text-decoration: none;
    color: #ffffff;
}
#topbar a:hover {
    border-top: solid;
    border-width: 0.2em;
    border-color: #ffffff;
}

.right {
    position: absolute;
    right: 0;
    top: 0;
}
#topbar .right {
    padding: 0.5em 0;

    line-height: 1.25em;

    font-size: 1.25em;
    font-weight: bold;
}


/* Headers */
section > header {
    font-size: 1.3em;
}
h2 {
    font-size: 1.2em;
    margin-top:1em;
}


/* Header-separaors */
article {
    position: relative;
}

article > header {
    font-size: 1.1em;
}

article + article {
    margin-top: 10px;
}
