body {
    min-width: 45em;

    font-family: sans-serif;

    background-color: #a0a0a0;
    background-image:
    repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
    repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
    linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 0%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
    linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
    background-size: 70px 120px;
}


/* Whitespace around viewport */
#viewport {
    position: relative;

    padding: 0.75em;
    margin-right: auto;
    margin-left: auto;

    max-width: 900px;

    background: rgba(255, 255, 255, 0.80);
}
/* Clear the bottom of the viewport */
.clear {
    clear:both;
}

/* Header bar */
#topbar {
    box-shadow: 0px 0px 10px #666;
    position: relative;

    width: 100%;

    font-size: 1.125em;
    font-weight: bold;

    background: #180878;
    color: #ffffff;
}

#topbar header {
    padding: 0.5em 1em;
    margin-right: -1em;

    line-height: 1.25;

    letter-spacing: 1em;

    display: inline-block;

    cursor: default;
}

/* Duplicate padding on both anchor and container
   2*padding = 2.25em - fontsize - borderwidth */
#topbar a,
#topbar a:hover,
#topbar a:active,
#topbar a:visited {
    padding: 0.625em 1em;
    text-decoration: none;
    color: #ffffff;
    font-size:0.8em;
}
#topbar a:hover {
    border-top: solid;
    border-width: 0.2em;
    border-color: #ffffff;
}

#topbar .right {
    padding: 0.625em 0;
}


/* Right-align */
.right {
    float: right;
}


/* Headers */
#viewport > header {
    font-size: 1.4em;
    text-align: center;
}
section > header {
    font-size: 1.3em;
}
article > header {
    font-size: 1.1em;
}


/* Section and article spacing */
article {
    position: relative;
}

article + article {
    margin-top: 0.75em;
}

section + section {
    margin-top: 1em;
}


/* Un-highlightable text */
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Admin links */
.adminlink {
    float:right;
    line-height: 1.3em;
    text-align:right;
}
