.coupon {
    border: solid;
    border-width: 1px;
    padding: 0.5em;
    margin-top: 0.75em;
    box-shadow: 3px 3px 5px #bbb;
}
.coupon a {
    color: #180878;
    text-decoration: none;
}
.coupon .time {
    font-size: 0.8em;
    margin-bottom:0.5em;
}
.coupon .description {
    font-size: 0.9em;
}
.coupon .holders {
    margin-top: 0.5em;
}
.coupon .holders li {
    font-size: 0.8em;
    list-style-type: disc;
    margin-left: 1.25em;
}
.coupon .mark {
    float: left;
    width: 50px;
    text-align: center;
    margin-right: 0.5em;
}
.coupon .timeleft {
    font-size: 0.8em;
    text-align: center;
    margin-top: 0.5em;
    padding-top: 0.5em;
    border-top: solid;
    border-width: 1px;
    clear: both;
}


/* Coupon classes */
.coupon.active {
    background: rgba(255, 255, 255, 0.7);
}
.coupon.active {
    color: #000000;
    border-color: #180878;
}

.coupon.expired,
.coupon.inactive {
    background: rgba(200, 200, 200, 0.7);
}
.coupon.expired,
.coupon.inactive,
.coupon.expired a,
.coupon.inactive a {
    color: #606060;
    border-color: #606060;
}


/* Buttons */
button {
    background: #180878;

    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.25em 1em;

    text-align: center;
    font-size: 0.75em;
    color: #ffffff;

    border:solid;
    border-left-color:#201088;
    border-top-color:#201088;
    border-right-color:#180868;
    border-bottom-color:#180868;
    border-width:2px;
}
button:hover {
    background: #1808a8;
}
button:active {
    background: #180868;
}

button.trash {
    background: #781808;
    border-left-color:#882010;
    border-top-color:#882010;
    border-right-color:#681808;
    border-bottom-color:#681808;
}
button.trash:hover {
    background: #a81808;
}
button.trash:active {
    background: #681808;
}

button.inactive {
    background: #787878;
    border-left-color:#888888;
    border-top-color:#888888;
    border-right-color:#686868;
    border-bottom-color:#686868;
}
button.inactive:hover {
    background: #787878;
}
button.inactive:active {
    background: #787878;
}
