.coupon {
  vertical-align: top;
  border: solid;
  border-width: 1px;
  padding: 0.5em;
  margin-top: 0.75em;
  box-shadow: 3px 3px 5px #bbb; }

.coupon a {
  text-decoration: none; }

.coupon .time {
  font-size: 0.8em;
  margin-bottom: 0.5em; }

.coupon .description {
  font-size: 0.9em; }

.coupon .holders {
  margin-top: 0.5em; }

.coupon .holders li {
  font-size: 0.8em;
  list-style-type: disc;
  margin-left: 1.25em; }

.coupon .mark {
  float: left;
  width: 50px;
  text-align: center;
  margin-right: 0.5em; }

.coupon .timeleft {
  font-size: 0.8em;
  text-align: center;
  margin-top: 0.5em;
  padding-top: 0.5em;
  border-top: solid;
  border-width: 1px;
  clear: both; }

.coupon .right {
  margin-left: 1em; }

/* Coupon classes */
.coupon.active {
  background: #fff; }

.coupon.active {
  color: #000000;
  border-color: #000; }

.coupon.expired,
.coupon.inactive {
  background: rgba(200, 200, 200, 0.7); }

.coupon.expired,
.coupon.inactive,
.coupon.expired a,
.coupon.inactive a {
  color: #606060;
  border-color: #606060; }

/* Buttons */
button {
  display: block;
  margin-left: auto;
  margin-bottom: 0.5em;
  padding: 0.4em 1em;
  text-align: center;
  font-size: 0.75em;
  color: #fff;
  border: none;
  background: #6a9f00; }

button:hover {
  background: #98cf34; }

button:active {
  background: #59771e; }

button:focus {
  outline: none; }

button.trash {
  background: #a00; }

button.trash:hover {
  background: #d43535; }

button.trash:active {
  background: #802020; }

button.inactive {
  background: #787878; }

button.inactive:hover {
  background: #787878; }

button.inactive:active {
  background: #787878; }
