{% macro render_address(a) %}
    <div>{{ a.number }} {{ a.street }}</div>
    <div>{{ a.city }}, {{ a.state }} {{ a.zip }}</div>
{% endmacro %}


{% macro option(v,l,d=None) %}
    <option value="{{ v }}" {% if v == d %} selected="selected" {% endif %}>{{ l }}</option>
{% endmacro %}


{% macro utc_options(selected='+00:00') %}
    <option value="-12:00" {% if selected == '-12:00' %} selected="selected" {% endif %}>UTC -12:00</option>
    <option value="-11:00" {% if selected == '-11:00' %} selected="selected" {% endif %}>UTC -11:00</option>
    <option value="-10:00" {% if selected == '-10:00' %} selected="selected" {% endif %}>UTC -10:00</option>
    <option value="-09:30" {% if selected == '-09:30' %} selected="selected" {% endif %}>UTC -09:30</option>
    <option value="-09:00" {% if selected == '-09:00' %} selected="selected" {% endif %}>UTC -09:00</option>
    <option value="-08:00" {% if selected == '-08:00' %} selected="selected" {% endif %}>UTC -08:00</option>
    <option value="-07:00" {% if selected == '-07:00' %} selected="selected" {% endif %}>UTC -07:00</option>
    <option value="-06:00" {% if selected == '-06:00' %} selected="selected" {% endif %}>UTC -06:00</option>
    <option value="-05:00" {% if selected == '-05:00' %} selected="selected" {% endif %}>UTC -05:00</option>
    <option value="-04:30" {% if selected == '-04:30' %} selected="selected" {% endif %}>UTC -04:30</option>
    <option value="-04:00" {% if selected == '-04:00' %} selected="selected" {% endif %}>UTC -04:00</option>
    <option value="-03:30" {% if selected == '-03:30' %} selected="selected" {% endif %}>UTC -03:30</option>
    <option value="-03:00" {% if selected == '-03:00' %} selected="selected" {% endif %}>UTC -03:00</option>
    <option value="-02:00" {% if selected == '-02:00' %} selected="selected" {% endif %}>UTC -02:00</option>
    <option value="-01:00" {% if selected == '-01:00' %} selected="selected" {% endif %}>UTC -01:00</option>
    <option value="+00:00" {% if selected == '+00:00' %} selected="selected" {% endif %}>UTC</option>
    <option value="+01:00" {% if selected == '+01:00' %} selected="selected" {% endif %}>UTC +01:00</option>
    <option value="+02:00" {% if selected == '+02:00' %} selected="selected" {% endif %}>UTC +02:00</option>
    <option value="+03:00" {% if selected == '+03:00' %} selected="selected" {% endif %}>UTC +03:00</option>
    <option value="+03:30" {% if selected == '+03:30' %} selected="selected" {% endif %}>UTC +03:30</option>
    <option value="+04:00" {% if selected == '+04:00' %} selected="selected" {% endif %}>UTC +04:00</option>
    <option value="+04:30" {% if selected == '+04:30' %} selected="selected" {% endif %}>UTC +04:30</option>
    <option value="+05:00" {% if selected == '+05:00' %} selected="selected" {% endif %}>UTC +05:00</option>
    <option value="+05:30" {% if selected == '+05:30' %} selected="selected" {% endif %}>UTC +05:30</option>
    <option value="+05:45" {% if selected == '+05:45' %} selected="selected" {% endif %}>UTC +05:45</option>
    <option value="+06:00" {% if selected == '+06:00' %} selected="selected" {% endif %}>UTC +06:00</option>
    <option value="+06:30" {% if selected == '+06:30' %} selected="selected" {% endif %}>UTC +06:30</option>
    <option value="+07:00" {% if selected == '+07:00' %} selected="selected" {% endif %}>UTC +07:00</option>
    <option value="+08:00" {% if selected == '+08:00' %} selected="selected" {% endif %}>UTC +08:00</option>
    <option value="+08:45" {% if selected == '+08:45' %} selected="selected" {% endif %}>UTC +08:45</option>
    <option value="+09:00" {% if selected == '+09:00' %} selected="selected" {% endif %}>UTC +09:00</option>
    <option value="+09:30" {% if selected == '+09:30' %} selected="selected" {% endif %}>UTC +09:30</option>
    <option value="+10:00" {% if selected == '+10:00' %} selected="selected" {% endif %}>UTC +10:00</option>
    <option value="+10:30" {% if selected == '+10:30' %} selected="selected" {% endif %}>UTC +10:30</option>
    <option value="+11:00" {% if selected == '+11:00' %} selected="selected" {% endif %}>UTC +11:00</option>
    <option value="+11:30" {% if selected == '+11:30' %} selected="selected" {% endif %}>UTC +11:30</option>
    <option value="+12:00" {% if selected == '+12:00' %} selected="selected" {% endif %}>UTC +12:00</option>
    <option value="+12:45" {% if selected == '+12:45' %} selected="selected" {% endif %}>UTC +12:45</option>
    <option value="+13:00" {% if selected == '+13:00' %} selected="selected" {% endif %}>UTC +13:00</option>
    <option value="+14:00" {% if selected == '+14:00' %} selected="selected" {% endif %}>UTC +14:00</option>
{% endmacro %}


{# Parameters:
    - name: A unique string to identify the input field
    - label: An optional string to be used as a label for the input field
    - dt: The pre-entered datetime #}
{% macro input_datetime(name, label=None, dt=None) %}
<div class="date-time-picker">
    {% if dt %}
    {% set date = dt.strftime('%m/%d/%Y') %}
    {% set hour = dt.hour %}
    {% set minute = dt.minute %}
    {% endif %}

    {% if label %}
    <label>{{ label }}</label><br>
    {% endif %}

    <div class="goog-time-picker" id="{{ name }}_timepicker"></div>
    <input class="time" name="{{ name }}_time" type="text" value="{{ dt.isoformat() }}">
</div>
{% endmacro %}
