{# Top level template #}
<!doctype html>
<html>
    <head>

    {% block head %}
        <title>{% block title %}{% endblock title %} - Wolfings</title>
        <meta charset="UTF-8">
        <script src="/static/js/wolf.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/style/reset.css">
        <link rel="stylesheet" type="text/css" href="/static/style/base.css">
    {% endblock head %}

    </head>
    <body>

        {% block header %}
        <div id="topbarContainer">
            <div id="topbar">
                <div class="links">
                    {% if user %}
{#
                    <div class="dropdown">
                        <a>My Restaurants</a>
                        <div class="submenu">
                            <a>butt one</a>
                            <a>butt two</a>
                        </div>
                    </div>
#}
                    {% set b = user.business %}
                    {% if b %}
                    <a href="/business/{{ b.key.id() }}/">{{ b.name }}</a>
                    {% endif %}
                    <a href="/user/{{ user.key.id() }}/">My Coupons</a>
                    <a href="/logout/">Log out</a>
                    {% else %}
                    <a href="/login/">Log in</a>
                    {% endif %}
                </div>
                <header><a href="/coupon/"><img src="/static/img/WolfingsLogoGrey.png"></a></header>
            </div>
        </div>
        {% endblock header %}

        {% block viewport %}
        <div id="viewportContainer">
            <div id="viewport">
                <div id="statusContainer">
                    <div id="status" class="{{ statusClass }}" {% if not status %}style="display: none;"{% endif %}>
                        {{ status }}
                        <button>⊗</button>
                    </div>
                </div>
                {% block body %}{% endblock body %}
                <div class="clear"></div>

            </div>
        </div>
        {% endblock viewport %}

        <footer>
            {% block footer %}
            <a href="/legal/">Legal</a> |
            <a href="mailto:admin@wolfings.com">Contact</a> |
            <a href="/partner/">Partner with Wolfings</a>
            {% endblock footer %}
        </footer>

        <script>
            {% block scripts %}
            wolf.start('{% if user %}{{ user.key.id() }}{% endif %}');
            {% endblock scripts %}
        </script>
    </body>
</html>
