{# /coupon/[id]/edit/
Parameters:
    - b: The Business entity referred to by the page ID
    - admins: The User entities that administrate the business
    - mark_upload: A uniquely-generated blobstore upload URL
#}
{% from '_helpers.jinja' import option, utc_options, input_datetime %}
{% extends 'base.jinja' %}


{% block title %}{{ b.name }}{% endblock title %}

{% block head %} {{ super() }}
<link href="/static/style/business_admin.css" rel="stylesheet" type="text/css">
<link href="/static/style/coupon_snip.css" rel="stylesheet" type="text/css">
{% endblock head %}

{% block body %}
<h1>Update Coupon Details</h1>
<button id="trash" class="trash">DISCONTINUE</button>
<form name="update" method="POST">
    <div class="coupon-details">
        <div class="input-text-container">
            <input type="text" name="name" value="{{ c.name }}" placeholder="Coupon Name">
        </div>
        <div class="input-text-container">
            <textarea name="description" placeholder="Description">{{ c.description }}</textarea>
        </div>
        <div class="coupon-time-select">
            {{ input_datetime('start', label='Start time', dt=c.start) }}
            {{ input_datetime('end', label='End time', dt=c.end) }}
        </div>
    </div>
    <input type="submit" value="submit">
</form>
{% endblock body %}

{% block scripts %} {{ super() }}
wolf.setup_coupon_edit();
{% endblock scripts %}
