{% extends 'base.jinja' %}

{% block title %}Welcome{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/style/frontpage.css">
{% endblock head %}

{% block header %}{% endblock header %}

{% block viewport %}
<div id="viewportContainer">
    <div id="viewport" class="text">
        {% block body %}
        <div id="box">
            <div id="title">
                W O L F I N G S
            </div>
            <div id="subtitle">
                BETA
            </div>
            <div id="imgContainer">
                <img src="/static/img/WolfingsLogoRed.png">
            </div>
            <div id="desc">
                <div id="text">
                    Save money helping restaurants fill their empty tables. Better hurry though, deals expire quickly!
                </div>
                <a href="/register/"><div id="link">Enter</div></a>
            </div>
        </div>
        {% endblock body %}
    </div>
</div>
{% endblock viewport %}

{% block footer %}{% endblock footer %}