{# /register/
Parameters: none
Globals: none
#}
{% extends "base.jinja" %}

{% block title %}Register{% endblock title %}
{% block head %}{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/style/register.css">
{% endblock head %}

{% block body %}
<header>Register</header>
<form action="/register/" method="POST">
    <label for="firstName"><span>First name</span></label>
    <input type="text" name="firstName" placeholder="">
    <div class="status" id="status_name"></div>
    <br>

    <label for="surame" class="required"><span>Last name</span></label>
    <input type="text" name="surname" placeholder="">
    <div class="status" id="status_name"></div>
    <br>

    <label for="phone"><span>Phone number</span></label>
    <input type="text" name="phone" placeholder="(xxx) xxx-xxxx">
    <div class="status" id="status_phone"></div>
    <br>

    <div class="legend">
        <span class="red">*</span> Indicates required field</span>
    </div>

    <div class="legal-notice">By clicking submit, you agree to the <a href="/legal/" target="blank">Wolfings Privacy Policy and Terms and Conditions</a>.</div>
    <input type="submit" value="Submit">
</form>
<script src="/static/js/register.js"></script>
{% endblock body %}
