{# /user/[id]/
Parameters:
    - u: User entity corresponding to the page ID
    - coupons: Coupon entities currently held by the user
Globals:
    - user: The logged-in user's entity
    - is_admin(business): Verifies user has rights to modify the entity
#}
{% extends "base.jinja" %}
{% from "coupon_snip.jinja" import coupon_snip %}

{% block title %}{{ u.familiar_name or u.surname }}{% endblock title %}
{% block head %}{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/style/coupon_snip.css">
{% endblock head %}

{% block body %}
<header>{{ u.familiar_name }} {{ u.surname }}</header>
<div class="center"><a href="edit/">Edit Preferences</a></div>
<section id="coupons">
{% if coupons %}
    {% for c in coupons %}
    {{ coupon_snip(c, show_img=True, held=True) }}
    {% endfor %}
{% else %}
    You don't have any coupons yet. Get them <a href="/coupon/">here</a>
{% endif %}
</section>
{% endblock body %}
